/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@font-face {
  font-family: "Inter";
  src: url("/fonts/inter-latin-variable-wghtOnly-normal.woff2") format("woff2");
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("/fonts/jetbrains-mono-latin-variable-wghtOnly-normal.woff2")
    format("woff2");
}

:root {
  --width: 50rem;
  --font-family: "Inter", sans-serif;
  --font-family-mono: "JetBrains Mono", monospace;
  --font-scale: 1em;

  --background-color: #fff;
  --heading-color: #222;
  --text-color: #444;
  --link-color: #3a6eaa;
  --visited-color: #6f4fb9;
  --code-color: #222;
  --blockquote-color: #222;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #111;
    --heading-color: #eee;
    --text-color: #ddd;
    --link-color: #4db5ff;
    --visited-color: #b39ceb;
    --code-color: #ddd;
    --blockquote-color: #ccc;
  }
}

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  font-size: var(--font-scale);
  margin: 0 auto;
  padding: 0 1.5rem;
  max-width: var(--width);
  text-align: left;
  background-color: var(--background-color);
  word-wrap: break-word;
  overflow-wrap: break-word;
  line-height: 1.68;
  color: var(--text-color);
}

ul {
  list-style: disc;
  padding: 0;
  margin: 0 0 1rem 1.8rem;
}

hr {
  border: none;
  border-top: 1px solid #ddd;
  margin: 1rem 0;
}

ol {
  list-style: decimal;
}

p {
  margin: 0.3rem 0 0.8rem 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading-color);
  margin: 0.8rem 0 0.6rem 0;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
}
h2 {
  font-size: 1.6rem;
  font-weight: 600;
}
h3 {
  font-size: 1.4rem;
  font-weight: 550;
}
h4 {
  font-size: 1.3rem;
  font-weight: 500;
}
h5 {
  font-size: 1.2rem;
  font-weight: 400;
}
h6 {
  font-size: 1rem;
  font-weight: 400;
}

a {
  position: relative;
  color: var(--link-color);
  cursor: pointer;
  text-decoration: none;
}

a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0;
  height: 1px;
  background-color: var(--link-color);
}

a:hover::before {
  width: 100%;
}

a::before {
  transition: width 0.25s;
}

nav a {
  margin-right: 8px;
}

nav a:hover:before {
  width: 0;
}

strong,
b {
  color: var(--heading-color);
}

button {
  font-family: var(--font-family);
  margin: 0;
  cursor: pointer;
}

content {
  line-height: 1.55;
}

table {
  width: 100%;
}

hr {
  border: 0;
  border-top: 1px dashed;
}

img {
  width: 100%;
  height: auto;
}

code {
  font-family: "JetBrains Mono", Inconsolata, Monaco, Consolas, "Courier New",
    Courier, monospace;
  padding: 2px;
  color: var(--code-color);
  border-radius: 3px;
}

blockquote {
  border-left: 1px solid #999;
  color: var(--code-color);
  padding-left: 16px;
  margin: 0;
  font-style: italic;
}

.title:hover {
  text-decoration: none;
}

.title h1 {
  font-size: 1.5em;
}

.inline {
  width: auto !important;
}

.highlight,
.code {
  padding: 1px 15px;
  background-color: var(--code-background-color);
  color: var(--code-color);
  border-radius: 3px;
  margin-block-start: 1em;
  margin-block-end: 1em;
  overflow-x: scroll;
}
