---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
import Logo from "../components/Logo.astro";
import CryptoWallet from "../components/CryptoWallet.astro";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={"Donate"} description={SITE_DESCRIPTION} />
    <style>
      .wallet-address {
        font-size: 1rem;
        font-weight: 400;
        color: #666;
      }
    </style>
  </head>

  <body>
    <Header title={SITE_TITLE} />
    <main style="width: 100%">
      <h1>Donate</h1>
      <p>
        Thank you for your interest in supporting my work. I'm currently
        accepting donations in the following payment methods:
      </p>
      <h3>
        <Logo src="paypal" alt="PayPal logo" size={30} />
        {" "} PayPal
      </h3>
      <div style="width: 100%; margin-bottom: 0.75rem"></div>
      <a class="button" href="https://urls.kraktoos.com/paypal" target="_blank"
        >Donate with PayPal</a
      >
      <hr />
      <CryptoWallet
        crypto="Bitcoin"
        symbol="BTC"
        address="bc1q4jxmqhqy0kr76676anfja9wzlsrtf53gc9rcq0"
      />
      <CryptoWallet
        crypto="Monero"
        symbol="XMR"
        address="446EBwQ787pFax8X9yCQJLT9vSgSQvCMUW8bhMsbDsuf7wmsu9WRKuBKkFi9TPZtUyb3r8EbR2wh3ejTKonnwTFX9Yuze9k"
      />
      <CryptoWallet
        crypto="Ethereum"
        symbol="ETH"
        address="0xffc7499210a306441cEC7C9e43d487D402482762"
      />
      <CryptoWallet
        crypto="Litecoin"
        symbol="LTC"
        address="LP118ULEfYwxjtp5HUvySsA1z18Nn2e2UZ"
      />
      <p>
        Want me to support another payment method or crypto coin? Email me at <a
          href="mailto:hello@kraktoos.com">hello@kraktoos.com</a
        >.
      </p>
    </main>
    <Footer />
    <style>
      .button {
        background-color: #0070ba;
        border: none;
        color: white;
        padding: 0.4rem 1rem;
        text-align: center;
        text-decoration: none !important;
        font-size: 1rem;
        cursor: pointer;
        border-radius: 0.25rem;
        display: inline-block;
        margin-top: 0.2rem;
        transition: background-color 0.1s ease-out;
      }
      .button:hover {
        background-color: #005ea1;
      }
      .button::before {
        width: 0;
      }
    </style>
  </body>
</html>
