---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h3>Hey! I'm Kraktoos 👋</h3>
			<p>
				I'm a Portuguese high school student and tech-passionate currently studying at <a href="https://www.colgaia.pt">Colégio de Gaia</a> where I've been learning about general programming, OOP, databases, productivity applications and hardware.
			</p>
			<p>
				I love tech, programming, Linux, open-source, and privacy. Currently, I am learning about web development.
			</p>
			<p>
				In the past, I've worked on a few projects, mainly in Visual Basic, C# (both for school), Python, and some other languages here and there.
			</p>
			<p>
				You can find me over on <a href="https://fosstodon.org/@kraktoos">Mastodon</a>, <a href="https://twitter.com/kraktoos">Twitter</a>, as well as on <a href="https://github.com/kraktoos">GitHub</a>, and in most other places of the internet @kraktoos.
			</p>
		</main>
		<Footer />
	</body>
</html>
