---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
import Counter from "../components/Counter.svelte";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <main>
      <h2>Hey! I'm Kraktoos 👋</h2>
      <p>
        I'm a Portuguese high school student and tech enthusiast currently studying at <a href="https://www.colgaia.pt">Colégio de Gaia</a> where I've been learning about general programming, OOP, databases, productivity apps and hardware.
      </p>
      <p>I'm into Tech, Programming, Linux, Free Software and Privacy and I'm currently learning about web development.</p>
      <p>In the past, I've worked on a few projects, mainly in C# (mainly for school), Python, JavaScript and some other languages here and there.</p>
      <p>
        Check out the <a href="/programs">programs</a> I use, and the <a href="/projects">projects</a> I've worked on.
      </p>
      <p>
        If you want to support me, you can do so by <a href="/donate">donating</a>.
      </p>
      <h2>Contact</h2>
      <p>
        You can find me over on <a href="https://fosstodon.org/@kraktoos">Mastodon</a>, <a href="https://twitter.com/kraktoos">Twitter</a>, as well as on <a href="https://github.com/kraktoos">GitHub</a>, and in most other places of the internet
        @kraktoos.
      </p>
      <p>
        You can also email me at <a href="mailto:hello@kraktoos.com">hello@kraktoos.com</a>
      </p>
    </main>
    <Footer />
  </body>
</html>
