---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
import Logo from '../components/Logo.astro';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={"Programs | Kraktoos"} description={"Most of the programs I maily use."} />
	</head>
	<body>
		<Header title={"Programs | Kraktoos"} />
		<main>
			
		</main>
		<Footer />
	</body>
</html>
