---

export interface Props {
	content: {
		title: string;
		img: string;
    stack: string[];
    link: string;
	};
}

const { title, img, stack, link } = Astro.props;

---
<a href={link}>
  <div class="card-container">
    <img src={img} />
    <h1>{title}</h1>
    <ul>
      {stack.map((item: string) => (
        <li>{item}</li>
      ))}
    </ul>
  </div>
</a>
<style>
  a {
    text-decoration: none;
  }
  a:hover {
    text-decoration: none;
  }
  .card-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border-radius: 0.9rem;
    border: 2px solid white;
    transition: all 0.15s ease-in-out;
    overflow: hidden;
  }
  .card-container:hover {
    box-shadow: 0 0 0.35rem 0.1rem #ffffff;
  }
  .card-container:hover img {
    width: 100%;
    height: 120%;
    object-fit: cover;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  h1 {
    font-size: 1.3rem;
    padding: 0.7rem 1rem;
    margin: 0;
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    list-style: none;
    gap: 0.5rem;
    padding: 0 0 1rem 1rem;
  }
  ul li {
    padding: 0.3rem 0.5rem;
    border-radius: 0.5rem;
    border: 2px solid #eee;
    color: #eee;
  }
</style>