---
const today = new Date();
---

<footer>
	<p style="margin-bottom: 7.5px;">
		&copy; {today.getFullYear()} Kraktoos. All rights reserved.
	</p>
	<p style="max-width: 210px; margin: 0 auto;">
		<a href="https://512kb.club">
			<img src="https://512kb.club/assets/images/green-team.svg"
			alt="a proud member of the green team of 512KB club"/>
		</a>
	</p>
</footer>
<style>
	footer {
		font-family: inherit;
		padding: 25px;
		text-align: center;
	}
</style>
