---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../config';
---

<header>
	<nav>
		<div>
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/projects">Projects</HeaderLink>
			<HeaderLink href="/blog">Blog</HeaderLink>
		</div>
		<div>
			<HeaderLink href="https://twitter.com/kraktoos" target="_blank">Twitter</HeaderLink>
			<HeaderLink href="https://github.com/kraktoos" target="_blank">GitHub</HeaderLink>
		</div>
	</nav>
</header>
<style>
	header {
		margin: 3em 0;
	}
	nav {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
	h2 {
		margin: 0.5em 0;
	}
</style>
