---
export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {}

const { href, class: className, title, ...props } = Astro.props;

const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, "");
---

<a
  rel="me"
  href={href}
  title={title}
  class:list={[className, { active: isActive }]}
  {...props}
>
  <slot />
</a>
<style>
  a {
    display: inline-block;
    text-decoration: none;
    text-underline-offset: 3px;
  }
  a.active {
    font-weight: bolder;
    text-decoration: underline;
    text-shadow: 0 0 12px #3a6eaabb;
  }
</style>
