<!--
	class: class of the figure
	link: url the image directs to
	alt: alternative text
	caption: caption
	mouse: what the image says when moused over ("title" in HTML)
-->

{{ $src := .Get "src" }}
{{ $image := resources.Get (printf "images/%s" $src) }}
<figure {{ with .Get "class" }}class="{{.}}"{{ end -}}>
	{{- with .Get "link"}}<a href="{{.}}">{{ end -}}
	<img src="{{ ($image.Resize "720x").RelPermalink }}"
	     {{- with .Get "alt" }} alt="{{.}}" title="{{.}}"{{ end -}}
	>
	{{- if .Get "link"}}</a>{{ end -}}
	{{- with .Get "caption" -}}
	<figcaption>
	{{- . -}}
	</figcaption>
	{{- end -}}
</figure>
